<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Finance HUB</title>

    <!-- Ionicons -->
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@

    



    @Styles.Render("~/Content/css")

</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed"
      style="background:#f9fcfb">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">

                <a href="/" class="navbar-brand">
                    <img src="~/Content/dist/img/money.png" alt="FI PORTAL" class="brand-image  elevation-0"
                         style="opacity: .8">
                    <span class="brand-text font-weight-bold" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">FI PORTAL</span>
                </a>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">


                        @{
                            try
                            {
                                int role = Convert.ToInt16(Session["role"].ToString());
                                if (role == 100)//admin level
                                {
                                    <li class="nav-item">
                                        <a href="~/Home/Initiation" class="nav-link">Initiate</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Home/ViewRequests" class="nav-link">Limit Enhancement</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/CustomerRegistration/Index" class="nav-link">Customer Registration</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Collection/CollectionHome" class="nav-link">Collections</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Home/AddCustomer" class="nav-link">Add Customer</a>
                                    </li>
                                }
                                if (role == 1)
                                {
                                    <li class="nav-item">
                                        <a href="~/Home/Initiation" class="nav-link">Initiate</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Home/ViewRequests" class="nav-link">Limit Enhancement</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/CustomerRegistration/Index" class="nav-link">Customer Registration</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Home/AddCustomer" class="nav-link">Add Customer</a>
                                    </li>
                                }

                                if (role == 6 || role == 7 || role == 8)
                                {
                                    <li class="nav-item">
                                        <a href="~/CustomerRegistration/Index" class="nav-link">Customer Registration</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Home/ViewRequests" class="nav-link">Limit Enhancement</a>
                                    </li>
                                }

                                if (role == 9)
                                {
                                    <li class="nav-item">
                                        <a href="~/Collection/CollectionHome" class="nav-link">Collections</a>
                                    </li>
                                }
                            }
                            catch
                            {
                                Response.Redirect("/Login/UserLogin", false);
                            }

                        }
                    </ul>


                </div>




                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

                    <li class="nav-item dropdown">
                        <a href="/Login/LogOut">
                            Log Out

                        </a>
                    </li>


                    <!-- Notifications Dropdown Menu -->
                    @*<li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="fa fa-door-open"></i>
                                <span class="badge glyphicon-log-out navbar-badge">15</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <span class="dropdown-item dropdown-header">15 Notifications</span>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                                    <span class="float-right text-muted text-sm">3 mins</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-users mr-2"></i> 8 friend requests
                                    <span class="float-right text-muted text-sm">12 hours</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-file mr-2"></i> 3 new reports
                                    <span class="float-right text-muted text-sm">2 days</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                            </div>
                        </li>*@

                </ul>
            </div>
        </nav>


        <div class="content" style="margin-top:60px;">
            <div class="container">

                @RenderBody()



                <!-- Modal for wait process -->
                <div class="modal fade show" id="modal-running" style="display: none;" aria-modal="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div style="text-align:center">
                                    <img src="~/Content/dist/img/gif/ripple.gif" />
                                </div>

                                <h5 class="text-center text-justify text-green">Processing your request</h5>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>



                <!-- Modal for wait process -->
                <div class="modal fade show" id="modal-confirm" style="display: none;" aria-modal="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-body">
                                <label class="text-center text-justify text-blue font-weight-normal" id="lblmodalreqid">drer</label>
                            </div>
                            <div class="text-center" style="margin-bottom:10px">
                                <input type="button" class="btn btn-default text-sm-center" id="btnclose" value="Done" />
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>






                <!-- revert Modal -->
                <!-- Modal -->
                <div class="modal fade" id="revertrequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Revert Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        Revert To
                                        <select id="revertTo" class="form-control"></select>
                                    </div>
                                    <div class="col-md-9">
                                        Comment
                                        <input type="text" id="txtrevertcomment" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="btnmodalRevert" type="button" data-dismiss="modal" class="btn btn-primary">Revert</button>
                            </div>
                        </div>
                    </div>
                </div>








            </div>
        </div>

        <!-- Main Footer -->
        @*<footer class="main-footer">
                <!-- To the right -->
                <div class="float-right d-none d-sm-inline">

                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2020 <a href="https://nipponpaint.com.lk">Nippon Paint</a>.</strong> All rights reserved.
            </footer>*@

    </div>






    @Scripts.Render("~/Content/scripts")
    @*@Scripts.Render("~/Scripts/Controller")*@


</body>
</html>
