@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center;background:url(../../Content/dist/img/dashboard.png)" >
    <img src="~/Content/dist/img/dashboard_.png" style="width:1200px;height:550px;margin-top:-5px;"  />
 </div>