
@{
    ViewBag.Title = "Initiation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<!-- -->
<div id="divheader" class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Initiate Request</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="txtcuscode" type="text" maxlength="10" class="form-control" placeholder="Customer Code" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="drptype" class="form-control">
                                <option value="LE" selected="selected">Limit Enhancement</option>
                                <option value="OR">Order releasing</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />

                @*@using (Html.BeginForm("uploadfile",
                            "Home",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                    {*@

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            Customer Name
                            <input id="txtcusname" type="text" class="form-control" readonly="readonly" placeholder="Customer Name" />
                        </div>
                        <div class="form-group">
                            Sales Code
                            <input id="txtsalescode" type="text" class="form-control" readonly="readonly" placeholder="Sales Code" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            Existing Credit Limit
                            <input id="txtcrdlimit" type="text" class="form-control" readonly="readonly" placeholder="Credit Limit" />
                        </div>

                        <div class="form-group">
                            @*Reason
                                <select id="reasonlist" class="form-control"></select>*@

                            Sales Area
                            <input id="txtsalesArea" type="text" class="form-control" readonly="readonly" placeholder="Sales Area" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            Credit Exposure
                            <input id="txtcrdExposure" type="text" class="form-control" placeholder="Credit Exposure" />
                        </div>
                        <div class="form-group">
                            Entitled Credit Limit
                            <input id="txtEntitlecrdlimit" type="text" class="form-control" placeholder="Allow Credit Limit" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-4">
                            Evaluation Form

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                </div>
                            </div>

                        </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            Comment
                            <textarea id="txtcomment" class="form-control" spellcheck="true" style="min-height:120px;height:120px;max-height:120px;" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <br />
                            <input id="btninitiate" type="button" class="btn btn-info" value="Initiate Request" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="divupload" style="visibility:hidden;">
    <div class="card">
        <div class="card-header">
            Upload evaluation form
        </div>
        <div class="card-body">
            @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextBox("file", "", new { type = "file", @class = "form-control" }) <br />
                    <input type="submit" value="Upload" />
                </div>
            }
        </div>
    </div>
</div>
@Scripts.Render("~/Content/scripts")

<script type="text/javascript" src="~/Scripts/ControllerScripts/initiation.js"></script>

<!-- commented -->
@*<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Customer History
                </div>
                <div class="card-body">
                    <table id="tblordhistory" class="table table-head-fixed table-bordered">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Order Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1234567890</td>
                                <td>121,000.00</td>
                            </tr>
                            <tr>
                                <td>1234567890</td>
                                <td>123,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>*@
