
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOut</title>
</head>
<body>
    @{ Session.Abandon(); Response.Redirect("/Login/UserLogin");}
    <div> 
    </div>
</body>
</html>
