
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   

    @Styles.Render("~/Content/css")
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>FI </b>PORTAL</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form>
                    <div class="input-group mb-3">
                        <input id="txtusername" type="text" class="form-control" placeholder="User name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="txtpassword" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label id="lblLogstatus" class="text-green"></label>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <input id="btnlogin" type="button" class="btn btn-primary btn-block" value="Sign In" />
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    @Scripts.Render("~/Content/scripts")
    @Scripts.Render("~/Scripts/Controller")
</body>
</html>
